# Ignore everything in the root except the application config files.
/*
!.gitignore
!Gruntfile.js
!package.json
!README.md
!webroot

# Ignore everything in the root except the "wp-content" directory.
/webroot/*
!/webroot/wp-content

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
/webroot/wp-content/*
!/webroot/wp-content/plugins
!/webroot/wp-content/themes
!/webroot/wp-content/languages

# Ignore everything in the "plugins" directory, except the plugins you
# specify (see the commented-out examples for hints on how to do this.)
/webroot/wp-content/plugins/*
!/webroot/wp-content/plugins/wp-native-dashboard
!/webroot/wp-content/plugins/polylang
!/webroot/wp-content/plugins/advanced-custom-fields
!/webroot/wp-content/plugins/acf-repeater
!/webroot/wp-content/plugins/vrb-slider
!/webroot/wp-content/plugins/contact-form-7
!/webroot/wp-content/plugins/tinymce-advanced
 
# Ignore everything in the "themes" directory, except the themes you
# specify (see the commented-out example for a hint on how to do this.)
/webroot/wp-content/themes/*
!/webroot/wp-content/themes/project_name
